body {
    font-family: "basic-sans", sans-serif;
    background-color: thistle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    max-width: 960px;
    width: 90%;
}

.intro-section .background-image {
    background-image: url(../images/intro-pic.jpg);
    background-size: cover;
    width: 100%;
    aspect-ratio: 3.5/1;
    border-radius: 10px;
    background-position: center;
}

h1 {
    font-family: "basic-sans", sans-serif;
    color: black;
    font-size: 2.75rem;
}

@media only screen and (max-width: 513px) {
h1 {
    font-size: 2rem;
}
}

.grid-container1 {
    display: grid;
    gap: 15px;
    grid-template-columns: 33% 33% 33%;
}

.topic {
    font-family: "basic-sans", sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.topic + * {
margin-top: 0;
}

.grid-content {
    border: .1px solid black;
    padding: 22px;
    border-radius: 10px;
}

.grid-content p {
    margin-bottom: 0;
}

.grid-content .pic {
    border-radius: 10px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.grid-parent {
    display: grid;
    gap: 50px 35px;
    grid-template-columns: 1fr 1fr;
}

.basic-info {
    font-family: "basic-sans", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: normal;
    max-width: 960px;
    line-height: 1.4rem;
}

.same-content {
    font-family: "basic-sans", sans-serif;
    color: black;
    font-size: 1.15rem;
    font-weight: normal;
    max-width: 960px;
    line-height: 1.55rem;
}

.section-divider {
    background-color: black;
    height: 1px;
    opacity: 0.3;
    width: 100%;
    margin: 2.4rem 0;
}

footer {
    margin-top: 1.5rem;
}

@media only screen and (max-width: 520px) {
    .grid-container1 {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 680px) {
    .grid-parent {
        gap: 25px;
        grid-template-columns: 1fr;
        margin-top: 1.25rem;
        
    }
}

@media only screen and (max-width: 500px) {
    .grid-content .pic {
            width: 100%;
    }
}